<html> 
<head><title>$title</title>
<link rel="stylesheet" href="disasm.css" type="text/css" />
</head> 
<body> 
<div id='toolbar'>
<ul>
<li><a href="functions-by-addr.htm">Functions</a></li>
<li><a href="names-by-addr.htm">Names</a></li>
<li><a href="strings.htm">Strings</a></li>
<li><a href="tasks.htm">Tasks</a></li>
<li><a href="semaphores.htm">Semaphores</a></li>
<li><a href="msgqueues.htm">MsgQueues</a></li>
<li><a href="properties.htm">Properties</a></li>
<li><a href="eventprocs.htm">Eventprocs</a></li>
<li><a href="statemachines.htm">FSMs</a></li>
</ul>
</div>
<div id='main'>
<h1>$title</h1>
$content
</div>
</body> 
</html> 
