<table> 
<!--
<tr><th>Address</th><th>Data</th><th>Code</th><th></th></tr> 
-->
#for $line in $lines
    #if 'funcstart' in $line
        <tr><td class=funcstart colspan=6>Function start: $line['funcstart']</td></tr>
    #end if
    #if 'name' in $line
        <tr><td class=nstub colspan=6>NSTUB(0x$line['address'], $line['name'])</td></tr>
    #end if
    #if 'string' in $line
        <tr><td class=addr>$line['address']:</td><td class=string colspan=5>STRING: $line['string']</td></tr>
    #end if
    #if 'undefined' in $line
        <tr><td class=addr id=$line['anchor']>$line['address']:</td><td class=data>$line['data']</td><td colspan=2 class=inst>$line['inst']<td class=comm>$line['comment']</td><td class=refs>$line['refs']</td></tr>
    #else
        <tr><td class=addr id=$line['anchor']>$line['address']:</td><td class=data>$line['data']</td><td class=inst><span class="mnem">$line['mnem']</span><span class="flags">$line['flags']</span></td><td class=parm>$line['params']</td><td class=comm>$line['comment']</td><td class=refs>$line['refs']</td></tr>
    #end if
    #if 'funcend' in $line
        <tr></td><td class=funcend colspan=6>Function end: $line['funcend']</td></tr>
    #end if
#end for
</table> 
