#from AsmBase import AsmBase
#extends AsmBase
#def title
Properties
#end def
#def content
<h2>Properties in $dumpname</h2>

<table>
<tr><th>Property values</th><th>Size</th></tr> 
#for $prop in sorted($props)
    <tr><td><%= hex(prop) %></td><td>$props[$prop]</td>
#end for
</table>

<table>
<tr><th>Property strings</th><th>References</th></tr> 
#for $prop_string in sorted($prop_strings)
    <tr><td>$prop_string</td><td>$prop_strings[$prop_string]</td>
#end for
</table>

#for $pd in $props_dec
    <h4 id=callers>Back deco for <i>$pd['str']</i> referenced at $pd['addr'] :</h4> 
<pre>
$pd['decompiled']
</pre> 
#end for

#for $func in $funcs
    <h2 id=callers>Calls to $func['name']:</h2> 
    <table>
    <tr><th>Address</th><th>Call line</th></tr> 
    #for $call in $func['callers']
        #if 'disasm' not in $call
            <tr><td class=addr>$call['address']:</td><td colspan=4 class=instr>$call['func']$call['args']</td></tr>
        #else
            #for $line in $call['disasm']
                <tr><td class=addr id=$line['anchor']>$call['address']:</td><td class=inst><span class="mnem">$line['mnem']</span><span class="flags">$line['flags']</span></td><td class=parm>$line['params']</td><td class=comm>$line['comment']</td><td> </td></tr>
            #end for
        #end if
    #end for
    </table>
#end for
#end def
